# Git
.git
.gitignore

# Node
.pnpm-store
.nx

# Build outputs (serão criados no container)
dist
out-tsc
**/out-tsc

# Environment
.env
.env.local
.env.*.local

# IDEs
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Testing
coverage
.nyc_output
test-output

# Docker
docker-compose.yml
.dockerignore

# Misc
*.md
!README.md
agent.local
docs
